$color--white: #ffffff;
$color--black: #000000;

$color--off-white: #fafafa;
$color--off-black: #101010;
$color--grey: #f1f1f1;

$color--orange: #d87d4a;
$color--orange-light: #fbaf85;
$color--red: #cd2c2c;

$color--text-base: $color--black;
