$font-family--base: 'Manrope', sans-serif;
$font-size--base: 15px;
$line-height--base: 1.666667;

$font-weight--normal: 400;
$font-weight--medium: 600;
$font-weight--bold: 700;

$font-size--h1: 56px;
$letter-spacing--h1: 2px;
$line-height--h1: 58px;

$font-size--h2: 40px;
$letter-spacing--h2: 1.5px;
$line-height--h2: 44px;

$font-size--h3: 32px;
$letter-spacing--h3: 1.15;
$line-height--h3: 36px;

$font-size--h4: 28px;
$letter-spacing--h4: 2px;
$line-height--h4: 38px;

$font-size--h5: 24px;
$letter-spacing--h5: 1.7px;
$line-height--h5: 33px;

$font-size--h6: 18px;
$letter-spacing--h6: 1.3px;
$line-height--h6: 24px;

$font-size--overline: 14px;
$letter-spacing--overline: 10px;
$line-height--overline: 19px;

$font-size--subtitle: 13px;
$letter-spacing--subtitle: 1px;
$line-height--subtitle: 25px;
