.heading-overline {
  color: $color--orange;
  font-size: $font-size--overline;
  font-weight: $font-weight--normal;
  letter-spacing: $letter-spacing--overline;
  line-height: $line-height--overline;
}
