.heading-subtitle {
  color: $color--orange;
  font-size: $font-size--subtitle;
  font-weight: $font-weight--bold;
  letter-spacing: $letter-spacing--subtitle;
  line-height: $line-height--subtitle;
}
